@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .login-form {
  min-width: 30vw;
}
.App-header .login-form-forgot {
  float: right;
}
.App-header .ant-col-rtl .login-form-forgot {
  float: left;
}
.App-header .login-form-button {
  width: 100%;
}

.App-header .bg-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  filter: blur(3px);
}